
:root {
    --bg: #fff;
    --card-bg: #fff;
    --shadow-color: #888888;
    --color: #444;
    --line: #ddd;
    --heading: #1e2357;
}

[data-theme='dark'] {
    --bg: #202126;
    --card-bg: #404040;
    --shadow-color: black;
    --color: #efefef;
    --line: #555;
    --heading: #c5c5c5;
}

html, body, #root, .App {
    height: 100%;
    overflow-y: scroll;
}

.App {
    background: var(--bg);
    color: var(--color);
}

.App-header {
    background-color: #1c1d1f;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row .sound-pad {
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer>button {
    margin: 5px;
}